# Ignore single files
thesis_structure.md
tags
.DS_Store
+
next.md

# Ignore all directories
*/
!/data

# Ignore all files with specific ending
*~

# Whitelist specific directories (unignore)
!.gitignore  # Whitelist the .gitignore file itself
