# Ignore single files
thesis_structure.md
tags
.DS_Store
# Ignore all directories
*/

# Ignore all files with specific ending
*~

# Whitelist specific directories (unignore)
!.gitignore  # Whitelist the .gitignore file itself
