{
  "params_mat": {
    "rho": 2700,
    "E": 68e9,
    "nu": 0.26,
    "h": {{ parameters.y_end }}
  },
  "params_nn_common": {
    "x_end": {{ parameters.x_end }},
    "y_end": {{ parameters.y_end }},
    "t_end": {{ parameters.t_end }},
    "n": 40,
    "hid_layers": 3,
    "neurons_per_layer": 35
  },
  "pinn": {
    "x_end": {{ parameters.x_end }},
    "y_end": {{ parameters.y_end }},
    "t_end": {{ parameters.t_end }},
    "n": {{ parameters.n }},
    "hid_layers": {{ parameters.hid_layers }},
    "neurons_per_layer": {{ parameters.neurons_per_layer }},
    "lr": 0.002,
    "epoch": 1500,
    "weight_in": 1,
    "weight_bound": 1
  },
  "nn": {
    "x_end": {{ parameters.x_end }},
    "t_end": {{ parameters.t_end }},
    "n": {{ parameters.n }},
    "hid_layers": {{ parameters.hid_layers }},
    "neurons_per_layer": {{ parameters.neurons_per_layer }},
    "lr": 0.002,
    "epoch": 8000
  }
}